.article {
    height: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
/*     display: grid; */
/*     place-items: left; */
}

.header {
    font-size: 40px;
    color: white;
    text-align: left;
    font-weight: bolder;
}

.p {
    font-size: 20px;
    color: white;
    text-align: left;
}

